@import "bootstrap/bootstrap.less";

/*@import "bootstrap/responsive.less";*/
@import "bootswatch.less";

@dark-blue: #1D4986;
@dark-red: #B72C31;
@soft-grey: #EFEFEF;
@dark-red: #B72C31;
@grey: #CCC;
/* ===== Primary Styles ========================================================
   Author: Denis Hoctor
   ========================================================================== */
body {
  padding-top: 0;
  padding-bottom: 40px;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* Custom Bootstrap / Bootswatch overrides */
.hero-unit {
	padding: 40px;
	margin-bottom: 20px;
	font-size: 16px;
}

/* Header */
.navbar .brand {padding: 9px 12px;}

/* Body Container (.main) */


/* Footer */
.footer .row {
	margin: 12px 0 0 0;
	border-top: 2px solid @dark-blue;
}
	.footer .row .span4:first-child {
		margin-left: 65px;
	}
		.locality a{
			color: @dark-red;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 15px;
			font-weight:bold;
			margin: 12px 0 2px;
			display:inline-block;
		}

/* Homepage */
.feature-images  img {
	padding: 5px;
	border: solid 1px @soft-grey;
}
.feature-images  a:hover img {
	border: solid 1px @grey;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

/* Utils */
.text-center{text-align: center;}